[Desktop Entry]
Name=Install upgrades
Name[de]=Aktualisierungen installieren
Exec=install-software-upgrades-user
Icon=lernstick-install-upgrades
Type=Application
Categories=PackageManager;
